#textdomain wesnoth-tsg

#define SG_RAISING_THE_BANNER
    [story]
        [part]
            background=story/riders1.webp
            # po: Intro to scenario 1
            {STORY: _"Captain Mari and Deoran set off from Weldyn, south toward Westin, and passed the border of the southern province of Kerlath in an uneventful matter of weeks. However, as they approached the River Kerlath, the surrounding farmlands became increasingly destitute and abandoned, as if they had been ransacked. As a precautionary measure, Captain Mari sent Deoran out to survey the surrounding areas..."}
            show_title=yes
        [/part]
    [/story]
#enddef

#define SG_BLIGHT
    [story]
        [part]
            background=story/black-forest.webp
            # po: Intro to scenario 4
            {STORY: _"Ethiliel led the South Guard through the southern forest. The deep woods were overcast with unnatural shadow as they entered, shrouded with eerie silence and uncanny stillness. Grey darkness sapped all color from their murky surroundings, with every movement and sound muted in the thick fog. Their small company kept vigilant watch on the dense forest and on each other, wary of the foreboding ambience."}
            music=revelation.ogg
        [/part]

        [part]
            background=story/black-forest.webp
            # po: Intro to scenario 4
            {STORY: _"For many days, they marched down nameless paths through the deep gloom. From time to time, ghostly images of elven villages and halls in the deep woods seemed to appear, but as they advanced, even those became scarce. Far from civilization, time passed in blurred day and night in the labyrinthian shadows."}
        [/part]

        [part]
            background=story/black-forest.webp
            # po: Intro to scenario 4
            {STORY: _"Finally, Ethiliel told them to halt and pitch camp — they had reached the Black River, beyond which no elf or man would willingly pass."}
        [/part]
    [/story]
#enddef

#define SG_THE_LONG_MARCH
    [story]
        [part]
            background=story/black-forest2.webp
            # po: Intro to scenario 5
            {STORY: _"After Mal M’Brin’s defeat, the soldiers of the South Guard departed the desolate fortress in the forest. Ethiliel stayed behind for a long while, not emerging until day had passed and it was well into the night. She offered a brief word of apology, but said nothing more as she led them back north toward Westin."}
            music=silence.ogg
        [/part]
    [/story]
#enddef

#define SG_VENGEANCE
    [story]
        [part]
            background=story/winter4.webp
            # po: Intro to scenario 6
            {STORY: _"The wheel of time turned another cycle and fall faded into winter. The last few colored leaves dropped to the ground, leaving nothing but the spiny evergreens and otherwise barren trees. As colder and colder days began to pass, forage and game grew scarce in the sparse woods."}
        [/part]
        [part]
            background=story/winter2.webp
            # po: Intro to scenario 6
            {STORY: _"Eager to return home and wary of the situation with the elves of the Aethenwood, the soldiers of the South Guard hastened their path northward. Eventually, after a matter of weeks, they sighted the farmlands of Kerlath and the walls of Westin in the distance. As they neared the city, they spotted the red and white striped banners proudly adorning the city towers, as if welcoming them home."}
        [/part]
    [/story]
#enddef

#define SG_EPILOGUE
    [story]
        [part]
            background=story/awinter2.webp
            # po: Epilogue text
            {STORY: _"Thus, an uneasy peace was established between man and elf. For many weeks, the South Guard patrolled the borders of the elven woods and watched over the growing farms and villages. The threat from the elves was enough to keep the villagers from entering the now forbidding Aethenwood, and despite the palpable tension at the forest border, the truce was maintained without incident."}
        [/part]
        [part]
            background=story/spring4.webp
            # po: Epilogue text
            {STORY: _"Then, as the snow melted and green buds marked the onset of spring, a grand procession made its way down the road from Weldyn bearing the banners of Wesnoth..."}
        [/part]
    [/story]
#enddef
